extends ../layout

block contents
  .panel.panel-default

    .panel-heading
      if conference.role == 'owner' || conference.role == 'collaborator'
        .pull-right
          a.btn.btn-default(href=("/speakers/new?conference="+conference.id))
            i.fa.fa-plus
            | &nbsp; Add Speaker

      h4 Speakers

      .clearfix

    .panel-body.
      This is the list of speakers of the conference.

    table.table.table-striped.table-bordered
      tr
        th Name
        th Picture
        th Origin
        th Charge
        th Description
        if conference.role == 'owner' || conference.role == 'collaborator'
          th(colspan="2")

      for speaker in conference.speakers
        tr
          td= speaker.name
          td: a(href=speaker.picture_url target="_blank"): img(src=speaker.picture_url height="48")
          td= speaker.origin
          td= speaker.charge
          td= speaker.description
          if conference.role == 'owner' || conference.role == 'collaborator'
            td: form(action=("/speakers/delete/"+speaker.id) method="post")
                input(type="hidden" name="conference" value=conference.id)
                button.btn.btn-danger(type="submit") Delete 
            td: form.navbar-form(action=("/speakers/"+speaker.id+"/edit") method="get")
                input(type="hidden" name="conference" value=conference.id)
                button.btn.btn-primary(type="submit") Edit

      else
        tr
          td(colspan="3") No speakers found