extends ../layout

block contents
  .panel.panel-default

    .panel-heading
      if conference.role == 'owner' || conference.role == 'collaborator'
        .pull-right
          a.btn.btn-default(href=("/organizers/new?conference="+conference.id))
            i.fa.fa-plus
            | &nbsp; Add Organizer

      h4 Organizers

      .clearfix

    .panel-body.
      This is the list of organizers of the conference.

    table.table.table-striped.table-bordered
      tr
        th Name           
        th Origin
        th Details
        th Group
        if conference.role == 'owner' || conference.role == 'collaborator'
          th

      for organizer in conference.organizers
        tr
          td= organizer.name
          td= organizer.origin
          td= organizer.details
          td= organizer.group
          if conference.role == 'owner' || conference.role == 'collaborator'
            td: form(action=("/organizers/delete/"+organizer.id) method="post")
                input(type="hidden" name="conference" value=conference.id)
                button.btn.btn-danger(type="submit") Delete

      else
        tr
          td(colspan="3") No organizers found