extends ../layout

block contents
  .panel.panel-default

    .panel-heading
      if conference.role == 'owner' || conference.role == 'collaborator'
        .pull-right
          a.btn.btn-default(href=("/venues/new?conference="+conference.id))
            i.fa.fa-plus
            | &nbsp; Add Venue

      h4 Venues

      .clearfix

    .panel-body.
      This is the list of venues of the conference.

    table.table.table-striped.table-bordered
      tr
        th Name
        th Location
        th Details
        if conference.role == 'owner' || conference.role == 'collaborator'
          th(colspan="2")

      for venue in conference.venues
        tr
          td= venue.name
          td
            = venue.location.lat
            | ,&nbsp;
            = venue.location.lng
            | &nbsp;&nbsp;
            span.js-latlng(data-latitude=venue.location.lat data-longitude=venue.location.lng)
          td= venue.details
          if conference.role == 'owner' || conference.role == 'collaborator'
            td: form(action=("/venues/delete/"+venue.id) method="post")
                input(type="hidden" name="conference" value=conference.id)
                button.btn.btn-danger(type="submit") Delete
            td: form.navbar-form(action=("/venues/"+venue.id+"/edit") method="get")
                input(type="hidden" name="conference" value=conference.id)
                button.btn.btn-primary(type="submit") Edit

      else
        tr
          td(colspan="3") No venues found

  script.
    $(function(){
      $('.js-latlng').each(function(i, e){
        var elem = $(e);

        var lat = elem.attr('data-latitude');
        var lng = elem.attr('data-longitude');

        $.ajax({
          url: 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lng + '&sensor=false',
          dataType: 'json'
        }).done(function (json) {
          elem.html('(' + json.results[0].formatted_address + ')');
        });
      });
    });